version: '3'
services:

  llm:
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    networks:
      - net

  database:
    image: neo4j:enterprise
    ports:
      - 7687:7687
      - 7474:7474
    environment:
      - NEO4J_AUTH=${NEO4J_USERNAME-neo4j}/${NEO4J_PASSWORD-password}
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=eval
    healthcheck:
        test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
        interval: 5s
        timeout: 3s
        retries: 5
    networks:
      - net

  loader:
    build:
      dockerfile: loader.Dockerfile

    environment:
      - NEO4J_URI=${NEO4J_URI-neo4j://database:7687}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD-password}
      - NEO4J_USERNAME=${NEO4J_USERNAME-neo4j}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - net
    depends_on:
      database:
        condition: service_healthy
      llm:
        condition: service_started

    ports:
      - 8081:8080

  bot:
    build:
      dockerfile: bot.Dockerfile

    environment:
      - NEO4J_URI=${NEO4J_URI-neo4j://database:7687}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD-password}
      - NEO4J_USERNAME=${NEO4J_USERNAME-neo4j}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - net
    depends_on:
      database:
        condition: service_healthy
      llm:
        condition: service_started

    ports:
      - 8501:8501

networks:
  net:
