#*****************************************************************
# LLM and Embedding Model
#*****************************************************************
LLM=llama2 #or any Ollama model tag, gpt-4 (o or turbo), gpt-3.5, or any bedrock model
EMBEDDING_MODEL=sentence_transformer #or google-genai-embedding-001 openai, ollama, or aws

#*****************************************************************
# Neo4j
#*****************************************************************
#NEO4J_URI=neo4j://database:7687
#NEO4J_USERNAME=neo4j
#NEO4J_PASSWORD=password

#*****************************************************************
# Langchain
#*****************************************************************
# Optional for enabling Langchain Smith API

#LANGCHAIN_TRACING_V2=true # false
#LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
#LANGCHAIN_PROJECT=#your-project-name
#LANGCHAIN_API_KEY=#your-api-key ls_...

#*****************************************************************
# Ollama
#*****************************************************************
#OLLAMA_BASE_URL=http://host.docker.internal:11434

#*****************************************************************
# OpenAI
#*****************************************************************
# Only required when using OpenAI LLM or embedding model

#OPENAI_API_KEY=sk-...

#*****************************************************************
# AWS
#*****************************************************************
# Only required when using AWS Bedrock LLM or embedding model

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=us-east-1

#*****************************************************************
# GOOGLE
#*****************************************************************
# Only required when using GoogleGenai LLM or embedding model
GOOGLE_API_KEY=
